*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}
.main-header{
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

/*form*/

form{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li{
  padding: 0.5rem;
} 
input{
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 1rem;
}

.button {
  padding: 0.3rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 1rem;
}

.loginFooter{
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.output{
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50vh;
}